:root {
    --board-width: 0
}

.tile-board {
    display: grid;
    grid-template-columns: repeat(var(--board-width), 2rem);
    justify-content: center;
}

.tile-text {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.flag-button {
    left: 50%;
    z-index: 2;
    /* transform: translateX(-50%); */
}

/* .tile {

} */